/* Navigation */
.nav__left {
  width: 55%;
}

.nav__right {
  width: 45%;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 88px;
  box-shadow: 0px 2px 0px #D9FFF5;
  background-color: white;
}

.nav__item {
  padding-top: 5px;
}

.nav__link {
  padding: 0;
}

.nav__icon {
  width: 40px;
  height: auto;
}

.nav__logo {
  width: 97px;
  height: auto;
}

.nav__divider-img {
  width: 2px;
  height: auto;
}

.nav__left .nav__list .nav__item:nth-child(2) {
  display: none;
}

.nav__right .nav__list .nav__item:nth-child(1),
.nav__right .nav__list .nav__item:nth-child(2),
.nav__right .nav__list .nav__item:nth-child(3) {
  display: none;
}

/* Heading */
.heading {
  margin-top: 25px;
  height: 40px;
}

.heading__border {
  padding-right: 12px;
  width: 4px;
  float: left;
}

.heading__h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -0.6px;
}
/* Scroll Menu */
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  margin-top: 24px;
  margin-left: 16px;
  scrollbar-width: none;  /* Firefox fix*/
}

.scrollmenu::-webkit-scrollbar {
  width: 0px;  /* Chrome fix */
}

.scrollmenu__item {
  color: #7E7E82;
  display: inline-block;
  text-align: center;
  padding: 7px 14px;
  margin-right: 2px;
  text-decoration: none;
}

.scrollmenu__item.active {
  background-color: white;
  border: 2px solid #B8FFEC;
  border-radius: 5px;
}

/* First block */
.first-block {
  -webkit-margin-before: 8px;
}

.first-block__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 24px 16px;
  margin-bottom: 16px;
  -webkit-margin-before: 8px;
}

.first-block__button {
  background-color: #F8F8F8;
  border: none;
  display: flex;
  width: 132px;
  height: 24px;
  justify-content: space-evenly;
  align-items:flex-end;
  margin: 14px 0;
}

.first-block__arrow-icon {
  padding-right: 14px;
}

.first-block__read-more {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.first-block__text2 {
  display: none;
}

.first-block__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}