.sidebar {
  height: 100%;
  inset: 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  background: #fff;
  z-index: 2;
  box-shadow: 10px 0 40px #bbb;
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox fix */
}

/* Scrollbar chrome fix */
.sidebar::-webkit-scrollbar {
  width: 0px;
}

.sidebar .nav__list {
  justify-content: flex-start;
  align-items: center;
  height: 88px;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: none;
}

.sidebar .nav__item.nav__item--moved-right {
  margin-left: auto;
  padding-right: 0;
}

.sidebar .nav__item {
  margin-right: 0;
  padding-top: 2px;
  padding-right: 16px;
}

.sidebar__links ul {
  padding: 16px 0px;
}

.sidebar__links a {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
}

.sidebar__contacts {
  margin-top: auto;
  margin-bottom: 12px;
}

.sidebar .nav__list.sidebar__list {
  height: auto;
}

.sidebar__links.sidebar__links--mailto a {
  margin-top: 6px;
  padding: 10px 24px;
}

.sidebar__phone-num a {
  color: #1B1C21;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  padding: 8px 24px;
}

.sidebar__button {
  padding: 28px 20px;
}

.sidebar__button li {
  display: inline-block;
}

.sidebar__button button{
  border: none;
  color: #1B1C21;
  background-color: #fff;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.sidebar__button button[disabled] {
  color: grey;
  cursor: default;
}