@font-face {
  font-family: 'TTLakes';
  src: url('fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('fonts/TTLakes-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
}

body {
  background-color: #F8F8F8;
}