@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes', Arial, Helvetica, sans-serif;
}

body {
  background-color: #F8F8F8;
}

header,
main {
  max-width: 1120px;
  margin: 0 auto;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__left,
.nav__right {
  width: 50%;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style-type: none
}

.nav__link {
  padding: 0;
}

.nav__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.nav__divider-img {
  background: url("../img/divider.svg") center no-repeat;
  width: 10px;
  height: 40px;
}

.nav__logo {
  width: 97px;
  height: auto;
}

/* Icons */
.nav__icon.nav__icon--burger {
  background-image: url('../img/burger.svg');
}

.nav__icon.nav__icon--call {
  background-image: url('../img/call.svg');
}

.nav__icon.nav__icon--chat {
  background-image: url('../img/chat.svg');
}

.nav__icon.nav__icon--checkstatus {
  background-image: url('../img/checkstatus.svg');
}

.nav__icon.nav__icon--profile {
  background-image: url('../img/profile.svg');
}

.nav__icon.nav__icon--repair {
  background-image: url('../img/repair.svg');
}

.nav__icon.nav__icon--search {
  background-image: url('../img/search.svg');
}

.nav__icon.nav__icon--x-burger {
  background-image: url('../img/x-burger.svg');
}

/* Heading */
.heading {
  height: 40px;
}

.heading__border {
  width: 4px;
  float: left;
}

.heading__h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
}

/* Scroll Menu */
.scrollmenu::-webkit-scrollbar {
  width: 0px;
  /* Chrome fix */
}

.scrollmenu__item {
  color: #7E7E82;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  padding: 7px 15px;
  margin-right: 2px;
  text-decoration: none;
}

.scrollmenu__item.active {
  background-color: white;
  border: 2px solid #B8FFEC;
  border-radius: 5px;
}

/* First block */
.first-block__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.first-block__button {
  background-color: #F8F8F8;
  border: none;
  display: flex;
  width: 132px;
  height: 24px;
  justify-content: space-evenly;
  align-items: flex-end
}

.first-block__arrow-icon {
  padding-right: 14px;
}

.first-block__read-more, .sidebar__links a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.first-block__image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}